<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/Images/voice-sense.png" type="image/x-icon">
    <title>Subconcious Emotions</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/locomotive-scroll.css">
    <link rel="stylesheet" href="/static/css/flip-card-left.css">
</head>
<body>
    <div class="cursor-follow">

    </div>


    <header id="nav">
        <a class="logo-a" href="/"><img class="logo" src="/static/images/voice-sense.png" alt="Logo"> Voice Sense </a>
        <nav class="nav_link">
            <ul>
                <li> <a href="/" class=" active" >HOME</a></li>
                <li> <a href="/about-us" >ABOUT US</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-container">

        <div class="left-cont">

            <div class="flip-card-left-1">
                <div class="flip-card-left-inner">
                    <div class="flip-card-left-front">
                        <img class=" m-img img1" src="/static/images/emotions.jpg" alt="image">
                    </div>

                    <div class="flip-card-left-back">
                            <h2 class=" q-font">
                                ~ <b>SADDNESS :</b> <br>In the quiet spaces between heartbeats, sadness whispers its own story.
                            </h2>
                    </div>
                </div>
            </div>


            <div class="flip-card-left-2">
                <div class="flip-card-left-inner">
                    <div class="flip-card-left-front">
                        <img class=" m-img img2" src="/static/images/ai-ultimate.jpg" alt="image">
                    </div>

                    <div class="flip-card-left-back">
                            <h2 class=" q-font">
                                ~ <b> HAPPINESS :</b> <br>Happiness is the sunbeam that warms the soul, painting the world with the colors of joy.
                            </h2>
                    </div>
                </div>
            </div>


            <div class="flip-card-left-3">
                <div class="flip-card-left-inner">
                    <div class="flip-card-left-front">
                        <img class=" m-img img3" src="/static/images/left.jpg" alt="image">
                    </div>

                    <div class="flip-card-left-back">
                            <h2 class="q-font">
                               ~ <b> ANGER :</b> <br>Anger is the wildfire that rages within, consuming reason and leaving behind the ashes of regret.
                            </h2>
                    </div>
                </div>
            </div>


            
            
           
            <h1 class="left-Heading"> SUBCONCIOUS ?</h1>
        </div>

            <div class="right-cont">

                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                                <div class="popup-cont">
                                    <h1>TIME TO FIND YOUR SUBCONCIOUS EMOTIONS</h1>
                                    <p class="para1">We tend to ignore what we can't see... <br>But what if you knew how much stress is affecting you?</p>
                                </div>
                        </div>

                        <div class="flip-card-back">
                            <div class="idk">
                                <h2 class=" c-head heading1">
                                    ~ More than just a feeling, stress triggers physical reactions that affect your body, your emotions and your thinking.
                                </h2>
                                <h2 class="c-head heading2">
                                    ~ Stress or worry is like a rocking chair , <br> It gives you something to do but never gets you anywhere
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                
           
                <div class="guideline">
                    <h2>STEPS</h2>
                    <p>Step 1 - Record your voice by clicking the Record Button </p>
                    <p>Step 2 - Wait For a Few Minutes </p>
                </div>

              
                <div class="start-analysis" id="controls">
                <button class="button record-button" id="recordButton">Record</button>
                <button class="button pause-button" id="pauseButton" disabled>Pause</button>
                <button class="button stop-button"id="stopButton" disabled>Stop</button>
                <div class="recording-status" id="state"></div>
                </div>
            
                

            </div>   

        
    </div>
    
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>
    <script src="https://markjivko.com/dist/recorder.js"></script>
    <!-- GSAP CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Locomotive Js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
    <!-- Noramal JS -->
    <script src="/static/Js/script.js"> </script>

</html>